<script>
  filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
</script>

<div id="nav"></div>

<div id="content">
  <div id="left-content"></div>
  <div id="right-content">
    <div class="player">
      <div class="play-button play-button-main"></div>
      <div class="song-info song-info-main">
        <h2 class="song-title">Hoppipolla</h2>
        <p class="song-uploader">annarose</p>
        <p class="time-info">
          <span class="time-elapsed">1:23</span> /
          <span class="time-total">4:56</span>
        </p>
      </div>
      <div class="song-controls">
        <input type="range" name="name" min="0" max="296" value="0">
      </div>
    </div>

    <div class='song-list-item'></div>
  </div>
</div>
