<div class="title">
  <h1>User: <%= model.escape('username') %> </h1>
  <div class="subscribe-button"></div>
  <div class="song-count">
    <%= model.escape('song_count') %>
    <% if (model.get('song_count') === 1) { %>
      song
    <% } else { %>
      songs
    <% } %>
  </div>
</div>

<div class="panel user-bio">
    <h2>Bio: </h2>
  <% if (model.escape('bio')) { %>
    <span><%= model.escape('bio') %></span>
  <% } else {%>
    <span><i>This user has no bio.</i></span>
  <% } %>
</div>

<div class="songs-index"></div>
