<div class="player">
  <div class="play-button play-button-main">
    <span class="play-symbol glyphicon glyphicon-play"></span>
  </div>
  <div class="song-info song-info-main">
    <h2 class="song-title"><i>No Song Queued</i></h2>
    <p class="song-uploader">...</p>
    <p class="time-info">
      <span class="time-elapsed">0:00</span> /
      <span class="time-total">0:00</span>
    </p>
  </div>
  <div class="song-controls">
    <input class="volume" type="range" name="name" min="1" max="2.71" step="0.01" value="2">
  </div>
  <audio id="main-player-audio" ></audio>
</div>
