<div class="left-nav">
  <div class="logo">SilentIsland</div>
  <div class="link explore-link"><a href="javascript:void(0)">Explore</a></div>
  <div class="link stream-link"><a href="javascript:void(0)">Stream</a></div>
</div>

<div class="right-nav">
  <div class="link primary upload-link"><a href="javascript:void(0)">Upload</a></div>
  <div class="link history-link"><a href="javascript:void(0)">History</a></div>
  <div class="link sign-out-link"><a href="javascript:void(0)">Sign Out</a></div>
</div>

<div class="search-bar">
</div>
