<div class="queue-controls panel">
  <span class="glyphicon glyphicon-fast-backward prev"></span>
  <span class="glyphicon glyphicon-repeat loop"></span>
  <span class="glyphicon glyphicon-fast-forward next"></span>
</div>
<div class="panel play-queue-title">
  <h2>Play queue</h2>
</div>
<div class="play-queue-list"></div>
