<div class="title">
  <% if (song.get('uploader')) { %>
    <h1>
      <%= song.escape('title') %>
      <small><%= _.escape(song.get('uploader').username) %></small>
    </h1>
  <% } %>
</div>

<div class="panel song-detail">
  <% if (song.get('description')) { %>
    <p><%= song.escape('description') %></p>
  <% } else { %>
    <p>this song has no description :( </p>
  <% } %>

  <p class="tags"></p>
</div>
