<h1><%= title %></h1>

<form>
  <label for="title">Title</label> <br>
  <input type="text" name="song[title]" value="<%= song.escape('title') %>">

  <br>

  <label for="description">Description</label> <br>
  <textarea name="song[description]" rows="8" cols="40"><%= song.escape('description') %></textarea>

  <br>

  <label for="url">URL</label> <br>
  <input type="text" name="song[url]" value="<%= song.escape('url') %>">

  <br>

  <label for="tag-labels">Tags</label> <br>
  <input type="text" name="song[tag_labels][]" value="">
  <input type="text" name="song[tag_labels][]" value="">
  <input type="text" name="song[tag_labels][]" value="">
  <input type="text" name="song[tag_labels][]" value="">

  <br>

  <input type="submit" value="Save Song">

</form>
