<div class="play-button">
  <span class="play-symbol glyphicon glyphicon-play"></span>
</div>
<div class="song-info">
  <h2 class="song-title"><%= song.escape('title') %></h2>

  <p class="song-uploader" data-id="<%= song.get('uploader').id %>">
    <%= _.escape(song.get('uploader').username) %>
  </p>

  <div class="song-item-controls">
    <% if (SilentIsland.currentUser.get('id') === song.get('uploader').id) { %>
      <span class="edit">
        edit
      </span> |
    <% } %>
    <span class="queue">
      queue+
    </span>
  </div>
  <span class="upload-date">
    Uploaded
    <abbr class="timeago" title="<%= song.escape('created_at') %>"></abbr>
  </span>
  <p class="tags"></p>
</div>
