<div class="play-button small">
  <span class="play-symbol glyphicon glyphicon-play"></span>
</div>
<div class="queue-item-info">
  <h3><%= song.escape('title') %></h3>
  <p><%= song.get('uploader').username %></p>
  <span class="unqueue-song glyphicon glyphicon-remove"></span>
</div>
