/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   background-color: #fafafa;
   -webkit-user-select: none;
   user-select: none;
   overflow-x: hidden;
 }

 h1, h2, h3, h4, h5, h6 {
   font-weight: normal;
 }

 body {
   font-family: 'Cambay', sans-serif;
   margin: 0;
 }

 #nav {
   height: 60px;
   margin: auto;
   background-color: #3f3f3f;
 }

 .nav-bar {
   margin: auto;
   max-width: 900px;
   margin: none;
   position: relative;
 }

 .nav-bar  .left-nav {
   float: left;
 }

 div.link {
   cursor: pointer;
   padding: 0 10px;
   transition: background-color 0.2s;
 }

 div.link > a:link {
   color: #ddd;
   line-height: 60px;
   text-decoration: none;
   transition: color 0.2s;
 }

 .nav-bar div.link:hover > a:link {
   color: #fff;
 }

 .nav-bar div.link:not(.primary):hover {
   background-color: #555;
 }

 div.link:active {
   background-color: #333333;
 }

 .nav-bar div.search-bar {
   position: relative;
   overflow: hidden;
 }

 .nav-bar .logo {
   height: 60px;
   margin: 0 auto;
   background-color: #fc6600;
   cursor: pointer;
   transition: background-color 0.2s;
 }

 .logo-img {
   margin-top: 8px;
   width: 180px;
 }

 .nav-bar > .right-nav {
   float: right;
   padding-left: 10px;
 }

 .right-nav > div, .left-nav > div {
   float: left;
 }

 input, textarea {
   background-color: #ffffff;
   font-size: 12pt;
   height: 30px;
   width: 100%;
   border: 1px solid #aaa;
   padding-left: 4px;
 }

 input:focus, textarea:focus {
   outline: none;
   background-color: #fff;
 }

 .search-bar input {
   margin-top: 15px;
 }

 .ui-autocomplete-category {
   font-size: 16pt;
   color: #aaa;
 }

 .logo:hover {
   background-color: #ff5000;
 }

 .link.primary {
   background-color: #ed5000;
   transition: background-color 0.2s;
 }

 .link.primary > a:link {
   color: #fff;
 }

 .link.primary:hover {
   background-color: #ff5000;
 }

 #content {
   margin: auto;
   top: 60px;
   width: 900px;
   padding: 0 0 50px 0;
   padding-bottom: 50px;
 }

 #content:after {
   content: '';
   display: block;
   clear: both;
 }

 .title, .songs-list-item, .player, .song-form, .song-detail-info, .panel {
   color: #666;
   /*max-width: 590px;*/
   background: white;
   box-shadow: 1px 1px 4px #555;
   cursor: default;
 }

 #left-content, #right-content {
   float: left;
 }

 #left-content {
   width: 590px;
 }

 #right-content {
   width: 290px;
   margin-left: 20px;
   margin-top: 20px;
 }

 .title {
   line-height: 60px;
   position: relative;
 }

 .songs-list-item {
   height: 80px;
   margin-top: 20px;
   transition: all 0.1s;
   position: relative;
 }

 .title h1 {
   margin-left: 30px;
   margin-top: 20px;
 }

 .play-button {
   float: left;
   height: 80px;
   width: 80px;
   background-color: #fa8;
   position: relative;
   transition: background-color 0.3s;
   opacity: 1;
 }

 .play-button .play-symbol {
   color: white;
   font-size: 40pt;
   margin-left: 12px;
   margin-top: 10px;
   transition: color 0.9s;
   transition: opacity 0.1s;
 }

 .play-button .play-symbol.glyphicon-pause {
   margin-left: 15px;
 }

 .play-button:hover {
   background-color: #e40;
   cursor: pointer;
 }

 .play-button:hover .play-symbol {
   color: #CCC;
 }

 .play-button:active {
   transition: none;
   background-color: #d30;
 }

 .play-button:active .play-symbol {
   transition: none;
 }

 .song-info {
   position: absolute;
   left: 80px;
   line-height: 0;
   padding-left: 5px;
   font-size: 14px;
 }

 .songs-list-item .song-info {
   width: 500px;
 }

 .player .song-info {
   width: 230px;
 }

 .song-title, .song-uploader {
   cursor: pointer;
 }

 .song-uploader {
   font-size: 12pt;
   color: #999;
 }

 .song-title:hover {
   color: #333;
 }

 .song-uploader:hover {
   color: #005025;
 }

 .time-info {
   position: relative;
   top: 17px;
 }

 .player {
   width: 100%;
   height: 95px;
   overflow: hidden;
   position: relative;
 }

 .song-controls {
   clear: left;
   padding: 0;
   margin: 0;
   position: relative;
   top: -1px;
 }

 input.seeker {
   padding: 0;
   height: 16px;
   -webkit-appearance: none;
   appearance: none;
   background-color: #ccc;
   cursor: pointer;
   margin: 0;
   width: 100%;
   overflow: hidden;
   border-width: 1px 0px;
   border-color: #fff;
}

input.volume {
  padding: 0;
  margin: 0 5px;
  height: 5px;
  width: 60px;
  float: right;
  position: relative;
  top: -40px;
  -webkit-appearance: none;
  background-color: #cfcccc;
  transform: rotate(90);
  border: none;
}

 input.seeker::-webkit-slider-thumb {
   cursor: pointer;
   -webkit-appearance: none;
   height: 16px;
   width: 10px;
   position: relative;
   background-color: #f50;
   border: 0;
   margin: 0;
   padding: 0;
 }

 input.volume::-webkit-slider-thumb {
   cursor: pointer;
   -webkit-appearance: none;
   height: 15px;
   width: 5px;
   position: relative;
   background-color: #f50;
   border: 0;
   margin: 0;
   padding: 0;
 }
 .active.songs-list-item .song-info .song-title {
   color: #f50;
 }

 .active.songs-list-item .play-button {
   background-color: #f50;
 }

 .songs-list-item .tags {
   float: right;
 }

 .tag, .tagit-choice {
   background-color: #ccc;
   border-radius: 3px;
   padding: 2px 2px 0px 5px;
   margin-left: 4px;
   transition: background-color 0.2s;
   cursor: pointer;
 }

 .tag:last-child {
   padding-right: 5px;
 }

 .tag:hover {
   color: #000;
 }

 .tag:active {
   transition: none;
   background-color: #999;
 }

 .song-info-main {
   width: auto;
 }

 .song-form {
   position: relative;
   padding: 20px;
 }

 textarea {
   resize: vertical;
   height: 100px;
 }

 .song-form label {
   font-size: 16pt;
   line-height: 2;
   position: relative;
   top: 10px;
 }

 .title small {
   float: right;
   margin-right: 20px;
   font-style: italic;
   color: #888;
   cursor: pointer;
 }

.title small:hover {
  color: #666;
}

button {
  display: block;
  clear: right;
  margin: 10px 2px;
  font-size: 12pt;
  padding: 5px;
  color: #555;
  background-color: #ddd;
  border: 1px solid #aaa;
  transition: background-color 0.2s, box-shadow 0.2s;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #ccc;
}

button:active {
  background-color: #bbb;
  box-shadow: inset 2px 2px 10px grey;
}

.toggle-subscription {
  background-color: grey;
  line-height: 1;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 10px 5px 10px;
  margin: 5px;
  color: white;
  width: 60px;
  text-align: center;
  transition: background-color 0.5s;
}

.toggle-subscription:hover {
  background-color: #bbb;
}

.toggle-subscription:active {
  background-color: #eee;
  transition: none;
}

.toggle-subscription.subscribed {
  background-color: #f50;
}

.auth-form {
  text-align: center;
  background-color: #fff;
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  top: 50px;
}

.auth-form input {
  box-sizing: margin-box;
  width: 50%;
  margin: 5px auto;
  display: block;
}

.play-queue {
  position: relative;
}

.song-info.play-queue-item {
  display: block;
  position: relative;
  left: auto;
  top: -5px;
  padding: 5px;
  margin-bottom: 0;
  border-top: 1px solid #eee;
  height: 50px;
}

.song-info.play-queue-item .unqueue-song {
  position: absolute;
  right: 0;
  font-size: 16pt;
  transition: color 0.3s;
  cursor: pointer;
}

.song-info.play-queue-item .unqueue-song:hover {
  color: #f40;
}

.song-item-controls {
  position: absolute;
  height: 20px;
  right: 0;
  top: 0;
  font-size: 24pt;
  font-weight: bold;
  transition: color .15s;
  cursor: pointer;
}

.song-item-controls div {
  float: left;
}

.song-item-controls div:hover {
  color: #f50;
}

.song-item-controls div:active {
  color: #d30;
}

.queue .glyphicon-play {
  position: relative;
  left: 12px;
}

.queue .glyphicon-plus {
  font-size: 10pt;
}

.play-queue-item {
  transition: color 0.5s;
}

.active.play-queue-item {
  color: #f50;
}

.active.play-queue-item .glyphicon-remove {
  color: #666;
}

.play-button.small {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 60px;
  margin-right: 5px;
}

.play-button.small .play-symbol {
  position: relative;
  font-size: 26pt;
}

.active .play-button.small {
  background-color: #f50;
}

.queue-item-info {
  position: relative;
  left: 60px;
  width: 220px;
}

.play-button-main {
  background-color: #f50;
}

.play-button-main:hover {
  background-color: #d40;
}

.play-button-main:active {
  background-color: #310;
}

.tagit {
  list-style: none;
  padding-left: 0;
}

.tagit-choice {
  display: block;
  float: left;
  margin: 5px 2px;
}

.queue-controls {
  margin-top: 1px;
  position: relative;
  width: auto;
  text-align: center;
}

.queue-controls > span {
  font-size: 32pt;
  padding: 0 10px;
  border: 0;
  transition: color 0.4s;
  cursor: pointer;
}

.queue-controls > span:hover {
  color: #333;
}

.queue-controls > span.active {
  color: #f50;
}

.queue-controls > span:active {
  color: #f50;
  transition: none;
}

.play-queue-title h2 {
  margin: 10px 0px 0px 10px;
  padding: 10px;
}

.transparent {
  opacity: 0;
}

.ui-helper-hidden-accessible {
  display: none;
}

ul.ui-autocomplete {
  padding-left: 5px;
  list-style: none;
  background-color: #fff;
  padding-left: 0;
  width: 10%;
  border: 1px solid #ddd;
}

li.ui-menu-item {
  color: #444;
  transition: background-color 0.2s, color 0.2s;
}

li.ui-menu-item.ui-state-focus {
  color: #f50;
  background-color: #eee;
  transition: background-color 0.2s, color 0.2s;
}

.title .destroy {
  font-size: 24pt;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.title .destroy:hover {
  color: #f40;
}

.title .destroy:active {
  color: #b20;
  transition: none;
}

.song-detail {
  padding: 1px 10px;
}

.song-count {
  font-size: 14pt;
  color: #bbb;
  position: absolute;
  top: 0;
  right: 100px;
  cursor: default;
}

.page {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.page.visible {
  opacity: 1;
}
