/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   background-color: #eeeeee;
 }

 body {
   font-family: 'Cambay', sans-serif;
   margin: 0;
 }

 #nav {
   height: 60px;
   margin: auto;
   background-color: #666666;
 }

 .nav-bar {
   margin: auto;
   max-width: 900px;
   margin: none;
   position: relative;
 }

 .nav-bar  .left-nav {
   float: left;
 }

 div.link {
   cursor: pointer;
   padding: 0 10px;
 }

 div.link > a:link {
   color: #ddd;
   line-height: 60px;
   text-decoration: none;
   transition: color 0.2s;
 }

 .nav-bar div.link:hover > a:link {
   color: #fff;
 }

 div:link:active {
   background-color: #444444;
 }

 .nav-bar div.search-bar {
   position: relative;
   overflow: hidden;
 }

 .nav-bar .logo {
   font-family: 'Domine', serif;
   font-size: 14pt;
   color: #fff;
   padding: 0 20px;
   line-height: 60px;
   background-color: #358f7f;
   cursor: pointer;
   transition: background-color 0.2s;
 }

 .nav-bar > .right-nav {
   float: right;
   padding-left: 10px;
 }

 .right-nav > div, .left-nav > div {
   float: left;
 }

 input, textarea {
   background-color: #eee;
   font-size: 12pt;
   height: 30px;
   width: 100%;
   border: 1px solid #aaa;
   padding-left: 4px;
 }

 input:focus, textarea:focus {
   outline: none;
   background-color: #fff;
 }

 .search-bar input {
   margin-top: 15px;
 }

 .logo:hover {
   background-color: #379f82;
 }

 .link.primary {
   background-color: #02735f;
   transition: background-color 0.2s;
 }

 div.primary > a:link {
   color: #fff;
 }

 div.primary:hover {
   background-color: #12835f;
 }

 #content {
   margin: auto;
   top: 60px;
   width: 900px;
   padding: 0 0 50px 0;
   padding-bottom: 50px;
 }

 #content:after {
   content: '';
   display: block;
   clear: both;
 }

 .title, .songs-list-item, .player, .song-form, .song-detail-info, .panel {
   color: #666;
   /*max-width: 590px;*/
   background: white;
   box-shadow: 1px 1px 4px #555;
   cursor: default;
 }

 #left-content, #right-content {
   float: left;
 }

 #left-content {
   width: 590px;
 }

 #right-content {
   width: 290px;
   margin-left: 20px;
   margin-top: 20px;
 }

 .title {
   line-height: 60px;
   position: relative;
 }

 .songs-list-item {
   height: 80px;
   margin-top: 10px;
   transition: all 0.1s;
   position: relative;
 }

 .title h1 {
   margin-left: 30px;
   margin-top: 20px;
 }

 .play-button {
   float: left;
   height: 80px;
   width: 80px;
   background-color: #358f7f;
   position: relative;
   transition: all 0.2s;
 }

 .play-button:after {
   content: '';
   border-top: 25px solid transparent;
   border-bottom: 25px solid transparent;
   border-left: 40px solid white;
   position: absolute;
   top:15px;
   left: 20px;
   transition: border-left-color 0.2s;
   shadow: 1px 1px 1px;
 }

 .play-button:hover {
   background-color: #12835f;
   cursor: pointer;
 }

 .play-button:hover:after {
   border-left-color: #CCC;
 }

 .play-button:active {
   transition: none;
   background-color: #12735f;
 }

 .play-button:active:after {
   transition: none;
   border-left-color: #444;
 }

 .song-info {
   position: absolute;
   left: 80px;
   line-height: 0;
   padding-left: 5px;
   font-size: 14px;
 }

 .songs-list-item .song-info {
   width: 500px;
 }

 .player .song-info {
   width: 230px;
 }

 .song-title, .song-uploader {
   cursor: pointer;
 }

 .song-uploader {
   font-size: 12pt;
   color: #999;
 }

 .song-title:hover {
   color: #333;
 }

 .song-uploader:hover {
   color: #005025;
 }

 .time-info {
   position: relative;
   top: 17px;
 }

 .player {
   width: 100%;
   height: 95px;
   overflow: hidden;
   position: relative;
 }

 .song-controls {
   clear: left;
   padding: 0;
   margin: 0;
   position: relative;
   top: -1px;
 }

 input.seeker {
   padding: 0;
   height: 16px;
   -webkit-appearance: none;
   appearance: none;
   background-color: #ccc;
   border: none;
   cursor: pointer;
   margin: 0;
   width: 100%;
   overflow: hidden;
}

input.volume {
  padding: 0;
  margin: 0 5px;
  height: 5px;
  width: 60px;
  float: right;
  position: relative;
  top: -40px;
  -webkit-appearance: none;
  background-color: #cccfcc;
  transform: rotate(90);
  border: none;
}

 input.seeker::-webkit-slider-thumb {
   cursor: pointer;
   -webkit-appearance: none;
   height: 15px;
   width: 10px;
   position: relative;
   background-color: #006030;
   border: 0;
   margin: 0;
   padding: 0;
 }

 input.volume::-webkit-slider-thumb {
   cursor: pointer;
   -webkit-appearance: none;
   height: 15px;
   width: 5px;
   position: relative;
   background-color: #006030;
   border: 0;
   margin: 0;
   padding: 0;
 }
 .active.songs-list-item .song-info .song-title {
   color: #f50;
 }

 .active.songs-list-item .play-button {
   background-color: #f50;
 }

 .tags {
   float: right;
 }

 .tag {
   background-color: #ccc;
   border-radius: 3px;
   padding: 2px 5px 0px 5px;
   transition: background-color 0.2s;
   cursor: pointer;
 }

 .tag:hover {
   color: #000;
 }

 .tag:active {
   transition: none;
   background-color: #999;
 }

 .song-info-main {
   width: auto;
 }

 .song-form {
   position: relative;
   padding: 20px;
 }

 textarea {
   resize: vertical;
   height: 100px;
 }

 .song-form label {
   font-size: 14pt;
   line-height: 2;
   position: relative;
   top: 10px;
 }

 .title small {
   float: right;
   margin-right: 20px;
   font-style: italic;
   color: #888;
   cursor: pointer;
 }

.title small:hover {
  color: #666;
}

button {
  display: block;
  clear: right;
  margin: 10px 2px;
  font-size: 12pt;
  padding: 5px;
  color: #465;
  background-color: #ddd;
  border: 1px solid #aaa;
  transition: background-color 0.2s;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #ccc;
}

button:active {
  background-color: #bbb;
}

.toggle-subscription {
  background-color: grey;
  line-height: 1;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 10px 5px 10px;
  margin: 5px;
  color: white;
  width: 60px;
  text-align: center;
  transition: background-color 0.5s;
}

.toggle-subscription:hover {
  background-color: #bbb;
}

.toggle-subscription:active {
  background-color: #eee;
  transition: none;
}

.toggle-subscription.subscribed {
  background-color: #f50;
}
