<div class="title">
  <h1>Tag: <%= model.escape('label') %></h1>
  <div class="subscribe-button"></div>
  <div class="song-count">
    <%= model.escape('song_count') %>
    <% if (model.get('song_count') === 1) { %>
      song
    <% } else { %>
      songs
    <% } %>
  </div>
</div>

<div class="songs-index"></div>
