
<% var max = tags.length %>
<% if (!listAll) { %>
  <% max = (max > 3 ? 3 : max) %>
<% } %>

<% for(var i = 0; i < max; i++ ) { %>
  <span class="tag" data-id="<%= tags[i].id %>">
    <%= _.escape(tags[i].label) %>
  </span>
<% } %>
